html, body {
  margin: 0;
}

.banner {
  background-image: url('http://via.placeholder.com/1000x500');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  max-width: 100%;
}

button {
  border-radius: 4px;
  float: right;
  margin: 10px;
}

.man_scores {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 200px;
  max-width: 400px;
  bottom: 0;
  right: 50px;
  margin-left: 25%;
}

.scores {
  text-align: center;
  padding: 10px;
}

.man_scores img {
  border-radius: 50%;
}

.sidebar-nav {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  width: 25%;
}

.sidebar-nav li {
  padding: 20px;
  list-style-type: none;
}

.activities {
  margin-top: 50px;
  margin-left: 25%
}
