html, body {
  margin: 0;
}

.banner {
  background-image: url('http://via.placeholder.com/1000x500');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  max-width: 100%;
}

button {
  border-radius: 4px;
  float: right;
  margin: 10px;
}

.sidebar-nav {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  width: 25%;
}

.sidebar-nav li {
  padding: 20px;
  list-style-type: none;
}

.man_scores {
  margin-left: 25%;
  margin-top: 50px;
}

.man_scores img {
  width: 80%

}

.activities {
  margin-top: 50px;
  margin-left: 25%;
}

.active_title {
  margin: 0;
  text-align: center;
  width: 850px;
}

.challenges {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  text-align: center;
}

.c1 {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px;
  justify-content: center;
}

.active_challenges img {
  border-radius: 50%;
  text-align: center;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
