html, body {
  margin: 0;
}

.banner {
  background-image: url('https://cdn.pixabay.com/photo/2017/03/10/14/05/background-2132911_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  max-width: 100%;
  position: relative;
}

button {
  border-radius: 4px;
  float: right;
  margin: 10px;
}

.banner span {
  float: left;
  top: 20px;
  left: 10px;
}

.banner img {
  float: left;
  max-height: 200px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  border-radius: 50%;
}

.username {
  display: flex;
  justify-content: center;
}

.man_scores {
  display: flex;
  flex-direction: row;
  max-height: 200px;
  max-width: 400px;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.scores {
  text-align: center;
  padding: 10px;
}

.man_scores img {
  border-radius: 50%;
}

.active_title {
  margin: 0;
  text-align: center;
  width: 850px;
}

.challenges {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  text-align: center;
}

.c1 {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px;
  justify-content: center;
}

.active_challenges img {
  border-radius: 50%;
  text-align: center;
}

.sidebar-nav {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  width: 25%;
}

.sidebar-nav li {
  padding: 20px;
  list-style-type: none;
}

.activities {
  margin-top: 50px;
  margin-left: 25%
}

.content p {
  display: inline-block;
  width: 700px;
  padding: 10px;
}

.events h2 {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.content {
  display: inline-block;
}
